@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

body {
	font-family: 'Climate Crisis', cursive;
}

.bayan-container {
	max-width: 30vw;
	margin: 0 auto;
	cursor: all-scroll;
}
.bayan-title {
}
.bayan-item {
	display: flex;
	flex-direction: column;
	padding-bottom: 2em;
	margin-top: 1em;
	border-bottom: 0.1em solid #000;
}
.text {
	display: flex;
	justify-content: space-between;
}
img {
	height: 100%;
}
.img {
	height: 0;
	display: flex;
	justify-content: center;
	transition: height 0.5s ease-in;
	cursor: pointer;
}
input:checked ~ .img{
	height: 15em;
}
input[type="radio"] {
  opacity: 0;
}

.bayan-item:hover >.img{
	height: 15em;
}
.icon {
	opacity: 0;
	display: block;
	width: 0em;
	height: 1em;
	border: solid #000;
	border-width: 0 0.3em 0 0;
	transform: rotate(90deg);
	transition: transform 0.5s ease-in;
}
.bayan-item:hover .text >.icon {
	transform: rotate(0deg);
}
input:checked + label >.icon {
	transform: rotate(0deg);
}
.bayan-container:hover .bayan-item .text .icon{
	opacity: 1;
}
.text:hover {
	cursor: pointer;
}

@media (hover:none) {
	.bayan-item:hover {
		background-color: azure;
	}
	.icon {
		opacity: 1;
	}
}

@media screen and (min-width: 320px) {
	.bayan-container {
		max-width: 90vw;
	}
	.text {
		font-size: 1em;
	}
	.bayan-title {
		font-size: 1.5em;
	}
}
@media screen and (min-width: 820px) {
	.bayan-container {
		max-width: 45em;
	}
	.text {
		font-size: 1.3em;
	}
	.bayan-title {
		font-size: 1.8em;
	}
}



